<style media="screen">
  li {
    color: red;
    margin-bottom: 30px;
  }
</style>

<h1>Ice Cream Flavors</h1>

<ul>
{{#each flavors }}
	<li>
		<p>Flavor: {{name}}</p>
		<p>Price: ${{price}}</p>
		<p>Awesomeness: {{awesomeness}}</p>
	</li>
	<hr>
{{/each}}
</ul>
